{% load static %}

<head>
           
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

       <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{% static 'css/calendar.css' %}">

</head>

<body>
        <table class="calendar">
        <caption>Events in Feburary at the CCC</caption>

        <colgroup>
            <col class="weekdays" span="5" />
            <col class="weekends" span="2" />
        </colgroup>

        <thead>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
            <th>1
                <dl>
                    <div>
                        <dt>Taiwan Acrobats</dt>
                        <dd>8 pm</dd>
                        <dd>$16/$24/$36</dd>
                    </div>
                </dl>
            </th>
        </tr>
        <tr>
            <th>2
                <dl>
                    <div>
                        <dt>Carson Quartet</dt>
                        <dd>1 pm</dd>
                        <dd>$8</dd>
                    </div>
                </dl>
            </th>
            <th>3</th>
            <th>4</th>
            <th>5
                <dl>
                    <div>
                        <dt>Joey Gallway</dt>
                        <dd>8 pm</dd>
                        <dd>$16/$24/$36</dd>
                    </div>
                </dl>
            </th>
            <th>6</th>
            <th>7
                <dl>
                    <div>
                        <dt>West Side Story</dt>
                        <dd>7 pm</dd>
                        <dd>$24/$36/$64</dd>
                    </div>
                </dl>
            </th>
            <th>8
                <dl>
                    <div>
                        <dt>West Side Story</dt>
                        <dd>7 pm</dd>
                        <dd>$24/$36/$64</dd>
                    </div>
                </dl>
            </th>
        </tr>
        <tr>
            <th>9
                <dl>
                    <div>
                        <dt>Carson Quartet</dt>
                        <dd>1 pm</dd>
                        <dd>$8</dd>
                    </div>
                </dl>
            </th>
            <th>10
                <dl>
                    <div>
                        <dt>Jazz Masters</dt>
                        <dd>8 pm</dd>
                        <dd>$18/$24/$32</dd>
                    </div>
                </dl>
            </th>
            <th>11</th>
            <th>12</th>
            <th>13
                <dl>
                    <div>
                        <dt>Harlem Choir</dt>
                        <dd>8 pm</dd>
                        <dd>$18/$24/$32</dd>
                    </div>
                </dl>
            </th>
            <th>14
                <dl>
                    <div>
                        <dt>Chamberlain Symphony</dt>
                        <dd>8 pm</dd>
                        <dd>$18/$24/$32</dd>
                    </div>
                </dl>
            </th>
            <th>15
                <dl>
                    <div>
                        <dt>Edwin Drood</dt>
                        <dd>8 pm</dd>
                        <dd>$24/$36/$44</dd>
                    </div>
                </dl>
            </th>
        </tr>
        <tr>
            <th>16
                <dl>
                    <div>
                        <dt>Carson Quartet</dt>
                        <dd>1 pm</dd>
                        <dd>$8</dd>
                    </div>
                </dl>
            </th>
            <th>17</th>
            <th>18</th>
            <th>19
                <dl>
                    <div>
                        <dt>The Yearling</dt>
                        <dd>7 pm</dd>
                        <dd>$8/$14/$18</dd>
                    </div>
                </dl>
            </th>
            <th>20</th>
            <th>21
                <dl>
                    <div>
                        <dt>An Ellington Tribute</dt>
                        <dd>8 pm</dd>
                        <dd>$24/$32/$48</dd>
                    </div>
                </dl>
            </th>
            <th>22
                <dl>
                    <div>
                        <dt>Othello</dt>
                        <dd>8 pm</dd>
                        <dd>$18/$28/$42</dd>
                    </div>
                </dl>
            </th>
        </tr>
        <tr>
            <th>23
                <dl>
                    <div>
                        <dt>Carson Quartet</dt>
                        <dd>1 pm</dd>
                        <dd>$8</dd>
                    </div>
                </dl>
            </th>
            <th>24</th>
            <th>25
                <dl>
                    <div>
                        <dt>Madtown Jugglers</dt>
                        <dd>8 pm</dd>
                        <dd>$12/$16/$20</dd>
                    </div>
                </dl>
            </th>
            <th>26</th>
            <th>27</th>
            <th>28
                <dl>
                    <div>
                        <dt>Ralph Williams</dt>
                        <dd>8 pm</dd>
                        <dd>$32/$48/$64</dd>
                    </div>
                </dl>
            </th>
            <th>1
                <dl>
                    <div>
                        <dt>Othello</dt>
                        <dd>8 pm</dd>
                        <dd>$18/$28/$42</dd>
                    </div>
                </dl>
            </th>
        </tr>
        </tbody>

</body>